echo "__pycache__/" >> .gitignore
echo "*.pyc" >> .gitignore
echo "db.sqlite3" >> .gitignore
echo "env/" >> .gitignore
echo "staticfiles/" >> .gitignore
echo ".env" >> .gitignore
echo ".idea" >> .gitignore